<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.drabek.feedreader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".articles.ArticlesActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".articledetail.ArticleDetailActivity"/>
        <service android:name=".service.DownloadService" android:enabled="true"/>
        <receiver android:name=".service.DownloadBroadCastReceiver"/>
        <receiver
            android:name=".service.BootBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".data.source.local.ArticlesContentProvider"
            android:authorities="cz.drabek.feedreader"
            android:exported="false"/>

        <activity android:name=".feeds.FeedActivity">
        </activity>
    </application>

</manifest>